<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj4e3LHOg2SFaV37Gm0deBqBiNtXH90sc</string>
	<key>GCM_SENDER_ID</key>
	<string>378812942192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anki</string>
	<key>PROJECT_ID</key>
	<string>isometric-game-310f1</string>
	<key>STORAGE_BUCKET</key>
	<string>isometric-game-310f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378812942192:ios:92205b2acb7fd4e04871b5</string>
	<key>DATABASE_URL</key>
	<string>https://isometric-game-310f1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>